<div class="container">
  <div class="row">
    <h2><%= @user.email %>がフォローしているユーザー一覧</h2>
    <% @users.each do |user| %>
    <% user.followers %>
    <p><%= user.email %></p>
    <%= profile_img(user) %>
  </div>
  <% end %>
  <div class="row">
    <h2><%= @user.email %>のフォロワー一覧</h2>
    <% @users.each do |user| %>
    <% user.followed_users %>
    <p><%= user.email %></p>
    <%= profile_img(user) %>
  </div>
  <% end %>
</div>
